/* -- HEADER -- */

header {
  background-color: #f5f5f5;
}
#logo {
  max-width: 120px;
  max-height: 120px;
  float: left;
  margin-left: 100px;
}
.user {
  float: right;
  margin: 0 0 0 2rem;
}
.user-img {
  margin: auto;
  background-color: #faa944;
  border-radius: 3rem;
  width: 50px;
  height: 50px;
}
.user a {
  margin: 0;
  font-size: 1.4rem;
}
.headbar h1 {
  margin: 0;
  line-height: 1.6;
  font-size: 4rem;
  letter-spacing: 0rem;
}
.headbar {
  margin-bottom: 1rem;
  text-align: center;
}

.headbar ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}

.headbar li {
  margin: 0 2rem 0 0;
  padding: 1rem;
  text-align: center;
  display: inline-flex;
}

.headbar li a {
  color: #606c76;
}

.headbar li a:hover {
  color: #faa944;
}

/* Navbar */
.navbar {
  margin-bottom: 2rem;
  background-color: #faa944;
}

.navbar ul {
  list-style-type: none;
  margin: 10px 40px;
  padding: 0;
  overflow: hidden;
  background-color: #faa944;
}

.navbar li {
  /* float: left; */
  min-width: 10%;
  margin: 0 20px 0 0;
  padding: 10px;
  text-align: center;
  display: inline-block;
}
/*.navbar li:hover {
  background-color: #e78914;
}*/
.add {
  float: right;
  color: #fff;
}

.navbar li a {
  color: #fff;
  letter-spacing: 0.05rem;
}

.navbar li:hover {
  color: #fff;
  font-weight: 700;
  background-color: #e78914;
  cursor: pointer;
}

a.title-nav-bar {
  text-transform:capitalize;
}

#navbar{
  display: inline;
}

/* -- SLIDER -- */

.slider {
  margin: 2rem auto;
  padding: 0;
}

/* -- ARTICLE STYLE -- */

.cat-title {
  padding: 1rem 2rem 0;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  font-variant: small-caps;
}
.cat-img {
  padding: 0 2rem;
}
.cat-left {
  background-color: #fff;
  border: solid #e78914;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}
.cat-right {
  background-color: #fff;
  border: solid #e78914;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}
.article-caption {
  margin: 1rem 0 1.8rem;
  border-bottom: solid 0.1rem #e78914;
}
.article-caption h4 {
  margin: 0.7rem 0 0;
}
.article-caption p {
  margin: 0.4rem 0 0;
}
.article-img {
  height: 12rem;
  width: 150rem;
  object-fit: cover;
}
.article-link {
  color: #555;
  display: inherit;
}

.cat-button {
  margin: 3rem 1rem 1rem;
  text-align: center;
}
.cat-button button {
  background-color: #faa944;
  border: none;
  border-radius: 0.8rem;
  line-height: 0rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.cat-button button:hover {
  background-color: #e78914;
  border-radius: 0.8rem;
  line-height: 0rem;
  font-size: 1.2rem;
  font-weight: 700;
}

/* -- MODAL -- */
/* Modal Button */
.send-button {
  text-align: center;
}
#myBtn {
  margin-left: 2rem;
  padding: 0 3.15rem;
  background-color: #faa944;
  border : none;
  border-radius: 0.8rem;
  line-height: 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;

}
#myBtn:hover {
  background-color: #e78914;
  font-weight: 700;
  padding: 0 3rem;
}

#add-link label, #add-category label{
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5;
  text-align: left;
}

#add-link input,#add-category input  {
  background-color: white;
}

#add-link textarea, #add-category textarea  {
  background-color: white;
  min-height: 10rem;
}

#add-link button, #add-category button {
  background-color: #faa944;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.8rem;
  line-height: 0rem;
  font-size: 1.2rem;
}

#add-link button:hover, #add-category button:hover {
  background-color: #e78914;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 3rem 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #eee;
  margin: auto;
  padding: 0;
  width: 80%;
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.2),0 0.6rem 2rem 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.label-category {
display: none;}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */

.close, .closeCat {
  color: #f7f0ea;
  float: right;
  padding-right: 1rem;
  font-size: 2.8rem;
  font-weight: 700;
}

.close:hover, .closeCat:hover
.close:focus, .closeCat:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1rem 1rem 0.4rem;
  background-color: #faa944;
  border-radius: 1.2rem 1.2rem 0 0;
  color: white;
  text-align: center;
}

.modal-header h2 {
  margin-top:1rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-transform: uppercase;
}


.modal-body {
  padding: 2rem 14rem;
  border-radius: 0.8rem;
}

/* -- FOOTER -- */

footer {
  background-color: #faa944;
  min-width: 10%;
  margin: 2rem 0 0;
  padding: 1rem;
}
footer p {
  margin: 0.5rem;
  text-align: right;
  font-size: 1.4rem;
  color: #fff;
}

/* -- MEDIA QUERIES --*/


